body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1259px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u8118_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1249px;
  height:54px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8118 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:10px;
  width:1249px;
  height:54px;
}
#u8119 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:19px;
  width:1245px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8120_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:716px;
  background:inherit;
  background-color:rgba(51, 51, 51, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(51, 51, 51, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8120 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:63px;
  width:51px;
  height:716px;
}
#u8121 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:350px;
  width:47px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8122_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:186px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u8122 {
  border-width:0px;
  position:absolute;
  left:71px;
  top:25px;
  width:186px;
  height:22px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u8123 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:186px;
  white-space:nowrap;
}
#u8124_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:35px;
}
#u8124 {
  border-width:0px;
  position:absolute;
  left:26px;
  top:18px;
  width:35px;
  height:35px;
}
#u8125 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:31px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8126_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
}
#u8126 {
  border-width:0px;
  position:absolute;
  left:1059px;
  top:24px;
  width:24px;
  height:24px;
}
#u8127 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8128_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8128 {
  border-width:0px;
  position:absolute;
  left:1099px;
  top:28px;
  width:109px;
  height:16px;
}
#u8129 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  white-space:nowrap;
}
#u8130_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
}
#u8130 {
  border-width:0px;
  position:absolute;
  left:1222px;
  top:24px;
  width:24px;
  height:24px;
}
#u8131 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8132_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u8132 {
  border-width:0px;
  position:absolute;
  left:25px;
  top:212px;
  width:25px;
  height:25px;
}
#u8133 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8134_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u8134 {
  border-width:0px;
  position:absolute;
  left:25px;
  top:125px;
  width:25px;
  height:25px;
}
#u8135 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8136_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u8136 {
  border-width:0px;
  position:absolute;
  left:25px;
  top:257px;
  width:25px;
  height:25px;
}
#u8137 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8138_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u8138 {
  border-width:0px;
  position:absolute;
  left:25px;
  top:170px;
  width:25px;
  height:25px;
}
#u8139 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8140_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:487px;
  background:inherit;
  background-color:rgba(51, 51, 51, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(51, 51, 51, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8140 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:292px;
  width:51px;
  height:487px;
}
#u8141 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:236px;
  width:47px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8142 {
  border-width:0px;
  position:absolute;
  left:541px;
  top:131px;
  width:137px;
  height:326px;
  overflow:hidden;
}
#u8142_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:137px;
  height:326px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u8142_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u8142_state1 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:137px;
  height:326px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u8142_state1_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u8143_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:124px;
  height:107px;
  background:inherit;
  background-color:rgba(67, 67, 67, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(51, 51, 51, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8143 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:44px;
  width:124px;
  height:107px;
}
#u8144 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:46px;
  width:120px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8145_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:124px;
  height:2px;
}
#u8145 {
  border-width:0px;
  position:absolute;
  left:1px;
  top:78px;
  width:123px;
  height:1px;
}
#u8146 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-8px;
  width:119px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8147_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#F2F2F2;
}
#u8147 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:52px;
  width:49px;
  height:19px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#F2F2F2;
}
#u8148 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u8149_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#E4E4E4;
}
#u8149 {
  border-width:0px;
  position:absolute;
  left:33px;
  top:89px;
  width:43px;
  height:16px;
  color:#E4E4E4;
}
#u8150 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u8151_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#E4E4E4;
}
#u8151 {
  border-width:0px;
  position:absolute;
  left:33px;
  top:118px;
  width:29px;
  height:16px;
  color:#E4E4E4;
}
#u8152 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u8153_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u8153 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:115px;
  width:20px;
  height:20px;
}
#u8154 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8155_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:15px;
}
#u8155 {
  border-width:0px;
  position:absolute;
  left:11px;
  top:88px;
  width:16px;
  height:15px;
}
#u8156 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:0px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8142_state2 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:137px;
  height:326px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u8142_state2_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u8157_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:124px;
  height:147px;
  background:inherit;
  background-color:rgba(67, 67, 67, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(51, 51, 51, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8157 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:88px;
  width:124px;
  height:147px;
}
#u8158 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:66px;
  width:120px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8159_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:124px;
  height:2px;
}
#u8159 {
  border-width:0px;
  position:absolute;
  left:1px;
  top:122px;
  width:123px;
  height:1px;
}
#u8160 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-8px;
  width:119px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8161_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#F2F2F2;
}
#u8161 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:96px;
  width:65px;
  height:19px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#F2F2F2;
}
#u8162 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u8163_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#E4E4E4;
}
#u8163 {
  border-width:0px;
  position:absolute;
  left:33px;
  top:133px;
  width:57px;
  height:16px;
  color:#E4E4E4;
}
#u8164 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u8165_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#E4E4E4;
}
#u8165 {
  border-width:0px;
  position:absolute;
  left:33px;
  top:167px;
  width:57px;
  height:16px;
  color:#E4E4E4;
}
#u8166 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u8167_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#E4E4E4;
}
#u8167 {
  border-width:0px;
  position:absolute;
  left:33px;
  top:200px;
  width:57px;
  height:16px;
  color:#E4E4E4;
}
#u8168 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u8169_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:18px;
}
#u8169 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:132px;
  width:18px;
  height:18px;
}
#u8170 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:1px;
  width:14px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8171_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:17px;
}
#u8171 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:165px;
  width:17px;
  height:17px;
}
#u8172 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:0px;
  width:13px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8173_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u8173 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:197px;
  width:20px;
  height:20px;
}
#u8174 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8142_state3 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:137px;
  height:326px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u8142_state3_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u8175_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:124px;
  height:176px;
  background:inherit;
  background-color:rgba(67, 67, 67, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(51, 51, 51, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8175 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:131px;
  width:124px;
  height:176px;
}
#u8176 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:80px;
  width:120px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8177_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:124px;
  height:2px;
}
#u8177 {
  border-width:0px;
  position:absolute;
  left:1px;
  top:165px;
  width:123px;
  height:1px;
}
#u8178 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-8px;
  width:119px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8179_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#F2F2F2;
}
#u8179 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:139px;
  width:65px;
  height:19px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#F2F2F2;
}
#u8180 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u8181_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#E4E4E4;
}
#u8181 {
  border-width:0px;
  position:absolute;
  left:33px;
  top:176px;
  width:57px;
  height:16px;
  color:#E4E4E4;
}
#u8182 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u8183_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#E4E4E4;
}
#u8183 {
  border-width:0px;
  position:absolute;
  left:33px;
  top:210px;
  width:57px;
  height:16px;
  color:#E4E4E4;
}
#u8184 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u8185_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#E4E4E4;
}
#u8185 {
  border-width:0px;
  position:absolute;
  left:33px;
  top:243px;
  width:57px;
  height:16px;
  color:#E4E4E4;
}
#u8186 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u8187_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#E4E4E4;
}
#u8187 {
  border-width:0px;
  position:absolute;
  left:33px;
  top:275px;
  width:57px;
  height:16px;
  color:#E4E4E4;
}
#u8188 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u8189_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:17px;
}
#u8189 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:175px;
  width:17px;
  height:17px;
}
#u8190 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:0px;
  width:13px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8191_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:18px;
}
#u8191 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:208px;
  width:18px;
  height:18px;
}
#u8192 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:1px;
  width:14px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8193_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u8193 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:240px;
  width:20px;
  height:20px;
}
#u8194 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8195_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:18px;
}
#u8195 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:274px;
  width:18px;
  height:18px;
}
#u8196 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:1px;
  width:14px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8197_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:32px;
}
#u8197 {
  border-width:0px;
  position:absolute;
  left:22px;
  top:690px;
  width:32px;
  height:32px;
}
#u8198 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:28px;
  visibility:hidden;
  word-wrap:break-word;
}
