body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1082px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u120_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1038px;
  height:695px;
}
#u120 {
  border-width:0px;
  position:absolute;
  left:45px;
  top:35px;
  width:1037px;
  height:694px;
}
#u121 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:339px;
  width:1033px;
  visibility:hidden;
  word-wrap:break-word;
}
#u122_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:418px;
  height:242px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u122 {
  border-width:0px;
  position:absolute;
  left:355px;
  top:245px;
  width:418px;
  height:242px;
}
#u123 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:113px;
  width:414px;
  visibility:hidden;
  word-wrap:break-word;
}
#u124_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:186px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u124 {
  border-width:0px;
  position:absolute;
  left:472px;
  top:272px;
  width:186px;
  height:22px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u125 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:186px;
  white-space:nowrap;
}
#u126 {
  border-width:0px;
  position:absolute;
  left:415px;
  top:314px;
  width:300px;
  height:30px;
}
#u126_input {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:30px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#999999;
  text-align:left;
}
#u127 {
  border-width:0px;
  position:absolute;
  left:415px;
  top:356px;
  width:300px;
  height:30px;
}
#u127_input {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:30px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#999999;
  text-align:left;
}
#u128 {
  border-width:0px;
  position:absolute;
  left:415px;
  top:422px;
  width:300px;
  height:35px;
}
#u128_input {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:35px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#333333;
  text-align:center;
}
#u129_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u129 {
  border-width:0px;
  position:absolute;
  left:658px;
  top:393px;
  width:57px;
  height:16px;
}
#u130 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u131 {
  border-width:0px;
  position:absolute;
  left:721px;
  top:384px;
  width:214px;
  height:55px;
  overflow:hidden;
}
#u131_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:214px;
  height:55px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u131_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u131_state1 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:214px;
  height:55px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u131_state1_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u132_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:209px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u132 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:209px;
  height:50px;
}
#u133 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:17px;
  width:205px;
  visibility:hidden;
  word-wrap:break-word;
}
#u134_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:183px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u134 {
  border-width:0px;
  position:absolute;
  left:8px;
  top:9px;
  width:183px;
  height:32px;
}
#u135 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:183px;
  white-space:nowrap;
}
