body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:440px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u7009_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:430px;
  height:880px;
}
#u7009 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:10px;
  width:430px;
  height:880px;
}
#u7010 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:432px;
  width:426px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7011_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:359px;
  height:13px;
}
#u7011 {
  border-width:0px;
  position:absolute;
  left:46px;
  top:126px;
  width:359px;
  height:13px;
}
#u7012 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-2px;
  width:355px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7013_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:374px;
  height:623px;
}
#u7013 {
  border-width:0px;
  position:absolute;
  left:38px;
  top:160px;
  width:373px;
  height:622px;
}
#u7014 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:303px;
  width:369px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7015_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u7015 {
  border-width:0px;
  position:absolute;
  left:187px;
  top:222px;
  width:78px;
  height:22px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u7016 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  white-space:nowrap;
}
#u7017_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:88px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7017 {
  border-width:0px;
  position:absolute;
  left:76px;
  top:267px;
  width:300px;
  height:88px;
}
#u7018 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:36px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7019_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:238px;
  height:2px;
}
#u7019 {
  border-width:0px;
  position:absolute;
  left:125px;
  top:311px;
  width:237px;
  height:1px;
}
#u7020 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-8px;
  width:233px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7021_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u7021 {
  border-width:0px;
  position:absolute;
  left:93px;
  top:282px;
  width:20px;
  height:20px;
}
#u7022 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7023_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u7023 {
  border-width:0px;
  position:absolute;
  left:93px;
  top:322px;
  width:20px;
  height:20px;
}
#u7024 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7025_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#999999;
}
#u7025 {
  border-width:0px;
  position:absolute;
  left:144px;
  top:280px;
  width:88px;
  height:22px;
  font-size:18px;
  color:#999999;
}
#u7026 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  white-space:nowrap;
}
#u7027_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#999999;
}
#u7027 {
  border-width:0px;
  position:absolute;
  left:144px;
  top:322px;
  width:80px;
  height:22px;
  font-size:18px;
  color:#999999;
}
#u7028 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  white-space:nowrap;
}
#u7029_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:41px;
  background:inherit;
  background-color:rgba(102, 102, 102, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#FFFFFF;
}
#u7029 {
  border-width:0px;
  position:absolute;
  left:76px;
  top:371px;
  width:300px;
  height:41px;
  font-size:18px;
  color:#FFFFFF;
}
#u7030 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:296px;
  word-wrap:break-word;
}
#u7031_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7031 {
  border-width:0px;
  position:absolute;
  left:196px;
  top:753px;
  width:57px;
  height:16px;
}
#u7032 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
